<ion-header>
  <ion-toolbar>
    <div *ngFor="let page of backPages">
      <ion-icon [routerDirection]="'root'" [routerLink]="[page.url]" name="arrow-back" size="large" style="margin-top: 1%;cursor: pointer"></ion-icon>
    </div>
    <ion-title style="font-size: 6vw">{{set_response.menu_type}}</ion-title>
    <ion-button (click)="goToCart()" slot="end" color="limegreen"><ion-icon name="cart"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <div style="background: black">
    <ion-card *ngFor = "let dish of dishData" style="background: whitesmoke;cursor: pointer;" (click)="viewDish(dish.id)" >
      <ion-card-content>
        <div>
          <img [src]="dish_image+dish.image">
        </div>
        <ion-row style="background: black;font-size: 4vw; font-weight: bold;color: white">
          <ion-col>
            {{dish.title}}
          </ion-col>
          <ion-col style="text-align: end">
            ${{dish.main_price}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
