<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title style="font-size: 7vw;padding-left: 2vh" >myorders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div style="align-content: center">
   <h3>Last 5 Order Details</h3>
  </div>
  <div *ngFor="let error of messageError" style="text-align: center; font-weight: bold">
    <p style="font-size: 30px">{{error.message1}}</p>
    <p>{{error.message2}}</p>
    <ion-button [routerDirection]="'root'" [routerLink]="[error.url]">Home</ion-button>
  </div>

 
<ion-card color="coral" *ngFor= "let order of order_data">
 <ion-card-content>
 
  <div style=" font-weight: bold;font-size: 130%; width: 60%; float: left;">{{order.order_date}}</div><div *ngIf=" order.order_status == 0 " style="width: 40%;float: left;align-items: center;">Waiting</div><div *ngIf="order.order_status == 1" style="width: 40%;float: left" >Delivered</div>
 <div>
  <div style="width: 50%;float: left;">
    <p style="font-size: 100%;font-weight: bold; ">Order Num : #{{order.order_id}}</p>
    <p style="font-size: 120%;font-weight: bold;">${{order.order_product_price*order.order_quantity}}</p>
   </div>
    <ion-button color="limegreen" slot="end" style="float: right">View details</ion-button>
 </div>
 
 </ion-card-content>
</ion-card>


</ion-content>
