<ion-header>
  <br>
</ion-header>
<ion-content >
  <div class="background" style="padding-top:5px">
    <div style="margin: 10%; text-align: center">
      <img src="../../../assets/icon/logo.png">
      <h4 style="text-align: center; color: white">Sign Up</h4>
    </div>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="signUp(validations_form.value)" style="padding-top:0%;">
      <div style="padding: 10px">
         <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/man-user(1).png"></div><ion-label position="floating" color="primary">Name<p style="color: red;float:left">*</p></ion-label>
            <ion-input type="text" formControlName="name"></ion-input> 
          </ion-item>
         <div class="validation-error">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
            </div>
          </ng-container>
         </div>
        
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">Email<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">Mobile No.<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="tel" formControlName="contact_no"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.contact_no">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('contact_no').hasError(validation.type) && (validations_form.get('contact_no').dirty || validations_form.get('contact_no').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">Address<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.address">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">City<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.city">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>  
          
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">province<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="text" formControlName="province"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.province">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('province').hasError(validation.type) && (validations_form.get('province').dirty || validations_form.get('province').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">ZipCode<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="text" formControlName="zipcode"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.zipcode">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('zipcode').hasError(validation.type) && (validations_form.get('zipcode').dirty || validations_form.get('zipcode').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">Remarks<p style="color: red;float: left">*</p></ion-label>
            <ion-input type="text" formControlName="remark"></ion-input>
          </ion-item>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.remark">
              <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('remark').hasError(validation.type) && (validations_form.get('remark').dirty || validations_form.get('remark').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
              </div>
            </ng-container>
          </div>
     <div formGroupName="matching_passwords">
        <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 12px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/lock.png"></div><ion-label position="floating" color="primary">Enter password<p style="color: red;float: left">*</p></ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div style="font-size: 10px" class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
        
        <ion-item style="opacity: 0.9" class="rcorners">
            <div style="margin-inline-end: 12px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/lock.png"></div><ion-label position="floating" color="primary">Confirm Password<p style="color: red;float: left">*</p></ion-label>
          <ion-input type="password" formControlName="confirmpassword"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirmpassword">
            <div style="font-size: 10px" class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirmpassword').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirmpassword').dirty || validations_form.get('matching_passwords').get('confirmpassword').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
          <!-- These validations are for the form group -->
          <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                      <div style="font-size: 10px" class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirmpassword').dirty || validations_form.get('matching_passwords').get('confirmpassword').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
              </div>
          <label class="error-message">{{errorMessage}}</label>
          <div>
            <ion-button color="limegreen" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid" >Sign Up</ion-button>
          </div>
          <div>
            <ion-button color="limegreen" class="submit-btn" expand="block" (click)="login()" >Log In</ion-button>
          </div>
      </div>
    </form>
  </div>
</ion-content>

