// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.img_scss {
    max-width: 100%;
    border: 0px;
    //height: 30vw;
    width: 100%;
    padding: 9px 8px 15px 7px;
    background-color: #000
}
ion-toolbar {
    --background: var(--ion-toolbar-background,var(--ion-color-step-50,#32CD32));
    --color: var(--ion-toolbar-color,var(--ion-text-color,rgb(0, 0, 0)));
    //--border-color: var(--ion-toolbar-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.2))));
}
:root {
    --ion-color-limegreen: #32CD32;
    --ion-color-limegreen-rgb: 50,250,50;
    --ion-color-limegreen-contrast: #000000;
    --ion-color-limegreen-contrast-rgb: 0,0,0;
    --ion-color-limegreen-shade: #2cdc2c;
    --ion-color-limegreen-tint: #47fb47;
  }
  
  .ion-color-limegreen {
    --ion-color-base: var(--ion-color-limegreen);
    --ion-color-base-rgb: var(--ion-color-limegreen-rgb);
    --ion-color-contrast: var(--ion-color-limegreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-limegreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-limegreen-shade);
    --ion-color-tint: var(--ion-color-limegreen-tint);
  }

  :root {
    --ion-color-darkblack: #222430;
    --ion-color-darkblack-rgb: 34,36,48;
    --ion-color-darkblack-contrast: #000000;
    --ion-color-darkblack-contrast-rgb: 0,0,0;
    --ion-color-darkblack-shade: #1e202a;
    --ion-color-darkblack-tint: #383a45;
  }
  
  .ion-color-darkblack {
    --ion-color-base: var(--ion-color-darkblack);
    --ion-color-base-rgb: var(--ion-color-darkblack-rgb);
    --ion-color-contrast: var(--ion-color-darkblack-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkblack-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkblack-shade);
    --ion-color-tint: var(--ion-color-darkblack-tint);
  }
  :root {
    --ion-color-coral: #FF7F50;
    --ion-color-coral-rgb: 255,127,80;
    --ion-color-coral-contrast: #000000;
    --ion-color-coral-contrast-rgb: 0,0,0;
    --ion-color-coral-shade: #e07046;
    --ion-color-coral-tint: #ff8c62;
  }
  
  .ion-color-coral {
    --ion-color-base: var(--ion-color-coral);
    --ion-color-base-rgb: var(--ion-color-coral-rgb);
    --ion-color-contrast: var(--ion-color-coral-contrast);
    --ion-color-contrast-rgb: var(--ion-color-coral-contrast-rgb);
    --ion-color-shade: var(--ion-color-coral-shade);
    --ion-color-tint: var(--ion-color-coral-tint);
  }

  