<ion-header>
  <ion-toolbar color="limegreen">  
      <div *ngFor="let page of backPages" style="float: left;">
          <ion-icon [routerDirection]="'root'" [routerLink]="[page.url]" name="arrow-back" size="large" style="margin-top: 1%;cursor: pointer"></ion-icon>
      </div>
      <div style="font-size: 7vw;padding-left: 2vh; margin-left: 30%;margin-top: 1%">
        Your Cart
      </div>
      
  </ion-toolbar>
</ion-header>
<ion-content padding color="dark">
    <div *ngIf="!isEmptyCart">
      <div>
        <!-- <h3 style="text-align: center">
          <ion-icon name="cart"></ion-icon>
        </h3> -->
        <div style="text-align: center">
          <img src="../../../assets/icon/output-onlinepngtools.png">
        </div>
        <div style="text-align: center">
        Your cart is empty
        </div>
      </div>
    </div>
    <div  *ngIf="isEmptyCart">
      <ion-card *ngFor="let itm of cartItem" style="height: 30vw;margin:0" color="light">
            <ion-row>
             <ion-col size="6">
              <div style="height: 34vw; overflow: auto">
                <img src="{{itm.thumb}}">
              </div>
             </ion-col>
             <ion-col size="4" style="font-size: 4vw">
                <p style="font-weight: bold">
                  {{itm.pro_name}}
                </p>
                <p style="margin-top: -4vw">
                    Qty: {{itm.qty}}
                </p>
                <p style="margin-top: -4vw">
                    {{itm.totalPrice | currency:'USD':true}}
                </p>
                </ion-col>
                <ion-col size="2">
                  <ion-icon style="font-size: 13vw;cursor: pointer;" name="trash" (click)="removeItem(itm) "></ion-icon>
                </ion-col>
            </ion-row>
        </ion-card>
   </div>
</ion-content>
   
<ion-footer *ngIf="isEmptyCart">  
  <ion-grid>
    <ion-row>
     <ion-col>
       Payment Method
     </ion-col>
    </ion-row>
    <ion-list style="margin-bottom: 0px">
    <ion-radio-group allow-empty-selection = "true" name="radio-group">
        <ion-item *ngFor="let item of radio_list" (ionSelect)="radioSelect($event)">
        <ion-label>{{item.text}}</ion-label>
        <ion-radio
        slot="end"  
        mode="md"     
        name="{{item.name}}" 
        value="{{item.value}}" 
        checked="{{item.checked}}" 
        color="{{item.color}}" 
        disabled="{{item.disabled}}"
        >
     </ion-radio>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>
    <ion-row>
      <ion-col  class="addCart" (click)="checkOut()">
        <ion-button expand="block" color="secondary">
          {{totalAmount | currency:'USD':true}}     Checkout
        </ion-button>  
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-footer>
