<ion-header>
  <ion-toolbar color="limegreen">  
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div *ngFor="let page of backPages">
          <ion-icon [routerDirection]="'root'" [routerLink]="[page.url]" name="arrow-round-back" size="large" style="margin-top: 1%;cursor: pointer"></ion-icon>
      </div>
      <ion-title>
        Your Cart
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
    <div *ngIf="!isEmptyCart">
      <div>
        <h3 style="text-align: center">
          <ion-icon name="cart"></ion-icon>
        </h3>
        <div style="text-align: center">
        Your cart is empty
        </div>
      </div>
    </div>
    <div  *ngIf="isEmptyCart">
      <ion-card *ngFor="let itm of cartItem">
        <ion-card-content>
          <ion-row>
            <ion-col>
                <p style="font-weight: bold">
                  {{itm.name}}
                </p>
            </ion-col>
            </ion-row>
            <ion-row>
             <ion-col>
              <div style="height: 34vw; overflow: auto">
                <img src="{{itm.thumb}}">
              </div>
             </ion-col>
            </ion-row>
            <div style="background: limegreen; font-size: 5vw">
              <ion-grid>
                <ion-row>
                  <ion-col style="margin-top: 1vh;color: black">
                      Qty: {{itm.count}}
                  </ion-col>
                  <ion-col style="margin-top: 1vh;color:black">
                      {{itm.totalPrice | currency:'USD':true}}
                  </ion-col>
                  <ion-col style="text-align: end;">
                      <ion-button class="buttons-div2-inside-div" color="danger"(click)="removeItem(itm)">
                          Remove
                       </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>                        
          </ion-card-content>
        </ion-card>
   </div>
</ion-content>
   
<ion-footer class="single-footer" *ngIf="isEmptyCart">  
  <ion-grid>
    <ion-row>
      <ion-col  class="addCart" (click)="checkOut()">
        <ion-button expand="block" color="secondary">
          {{totalAmount | currency:'USD':true}}     Checkout
        </ion-button>  
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-footer>
