.background {
    background: black no-repeat center center fixed;
    background-size: cover;
    width:100%;
    height:100vh;
    overflow:auto;
  }
  .description-div1{
    font-weight: bold;
    margin: 2vw;
    font-size: 5vw;
    color: darkgray;
    //float: left;
}
.restraunt-details-div{
    margin: 2vw;
    //float: left;
    font-size: 4vw;
}