<ion-header>
  <ion-toolbar>   
    <div *ngFor="let page of appPages">
      <ion-icon [routerDirection]="'root'" [routerLink]="[page.url]" name="arrow-back" size="large" style="margin-top: 1%;cursor: pointer"></ion-icon>
    </div>    
    <ion-title style="font-size: 6vw">location_menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="text-align: center">
  <p style="font-size: 22px">{{all_response.location.title}}</p>
  <p style="font-size:16px;margin-top: -20px;">{{all_response.location.contact}}</p>
</div>
<div *ngFor="let data of menuType">
    <ion-card class="card_design1" (click)="dishList1(data.id,data.location_id,data.title)">
        <ion-card-title style="font-weight: bold;font-size: 20px; color: black; text-align: center;margin-top: 6%;font-size: 5vw">
          <p>{{data.title}}</p>
        </ion-card-title>
       </ion-card>
</div>

</ion-content>
