<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>location_menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="text-align: center">
  <p style="font-size: 22px">{{all_response.location.title}}</p>
  <p style="font-size:16px;margin-top: -20px;">{{all_response.location.contact}}</p>
</div>
<!-- <div class="card_design1" style="float: left"  (click)="aveswGreen()" >
    <ion-card-content style="text-align: center">
          <p>{{app_response.location_menu.data[0].title}}</p>
    </ion-card-content>
  </div> -->
</ion-content>
