<ion-header>
  <ion-toolbar>
      <div *ngFor="let page of backPages">
        <ion-icon [routerDirection]="'root'" [routerLink]="[page.url]" name="arrow-back" size="large" style="margin-top: 1%;cursor: pointer"></ion-icon>
      </div>
    <ion-title style="font-size: 7vw;padding-left: 2vh">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div style="text-align: center;background-color: black">
      <img src="assets/icon/logo.png" style="margin-top: 2px;max-width: 80%;">
        <img  src="../../../assets/icon/userplainbackground.png" style="margin-top: 2px;max-width: 25%;">
      </div>
      <form class="form" [formGroup]="validations_form" (ngSubmit)="updateProfile(validations_form.value)" style="padding-top:2%;">
          <div style="padding: 10px">
              <ion-item style="opacity: 0.9" >
                <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/man-user(1).png"></div><ion-label position="floating" color="primary">Enter Name<p style="color: red;float:left">*</p></ion-label>
                <ion-input type="text" formControlName="name" value="{{user_details.data.name}}"></ion-input> 
              </ion-item>
              <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.name">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>
              
              <ion-item style="opacity: 0.9" >
                <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px; width: 24px; padding-top: 20px" src="assets/icon/envelope.png"></div><ion-label position="floating" color="primary">Email<p style="color: red;float:left">*</p></ion-label>
                <ion-input type="text" formControlName="email" value="{{user_details.data.email}}"></ion-input>
              </ion-item>
              <div class="validation-error">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                  </div>
                </ng-container>
              </div> 
              
              <ion-item style="opacity: 0.9" >
                  <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/call-answer.png"></div><ion-label position="floating" color="primary">Contact No.<p style="color: red;float:left">*</p></ion-label>
                  <ion-input type="text" formControlName="contact_no" value="{{user_details.data.contact_no}}"></ion-input> 
              </ion-item>
              <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.contact_no">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('contact_no').hasError(validation.type) && (validations_form.get('contact_no').dirty || validations_form.get('contact_no').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>

              <ion-item style="opacity: 0.9" >
                  <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/address.png"></div><ion-label position="floating" color="primary">Address<p style="color: red;float:left">*</p></ion-label>
                  <ion-input type="text" formControlName="address" value="{{user_details.data.address}}"></ion-input> 
              </ion-item>
              <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.address">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>

              <ion-item style="opacity: 0.9" >
                  <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/city.png"></div><ion-label position="floating" color="primary">City<p style="color: red;float:left">*</p></ion-label>
                  <ion-input type="text" formControlName="city" value="{{user_details.data.city}}"></ion-input> 
              </ion-item>
              <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.city">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>

              <ion-item style="opacity: 0.9" >
                  <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/address.png"></div><ion-label position="floating" color="primary">Zipcode<p style="color: red;float:left">*</p></ion-label>
                  <ion-input type="text" formControlName="zipcode" value="{{user_details.data.zipcode}}"></ion-input> 
              </ion-item>
              <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.zipcode">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('zipcode').hasError(validation.type) && (validations_form.get('zipcode').dirty || validations_form.get('zipcode').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>

              <ion-item style="opacity: 0.9" >
                  <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/earth.png"></div><ion-label position="floating" color="primary">Province<p style="color: red;float:left">*</p></ion-label>
                  <ion-input type="text" formControlName="province" value="{{user_details.data.province}}"></ion-input> 
              </ion-item>
                <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.province">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('province').hasError(validation.type) && (validations_form.get('province').dirty || validations_form.get('province').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>

              <ion-item style="opacity: 0.9" >
                  <div style="margin-inline-end: 22px;" slot="start" ><img style="height: 45px;width: 24px;padding-top: 20px" src="assets/icon/remarks.png"></div><ion-label position="floating" color="primary">Remarks<p style="color: red;float:left">*</p></ion-label>
                  <ion-input type="text" formControlName="remarks" value="{{user_details.data.remarks}}"></ion-input> 
              </ion-item>
              <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.remarks">
                <div style="font-size: 13px" class="error-message" *ngIf="validations_form.get('remarks').hasError(validation.type) && (validations_form.get('remarks').dirty || validations_form.get('remarks').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                </div>
              </ng-container>
              </div>
              <label class="error-message">{{errorMessage}}</label>
              <div>
                <ion-button  color="limegreen" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid" >Log In</ion-button>
              </div>             
          </div>
        </form>
    

</ion-content>
