<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <div style="font-size: 7vw; float: left;padding-left: 2vh">
    <ion-icon name="home"></ion-icon>Our Locations
  </div>
  <div class="profile_div">
    <ion-icon slot="end" name="contact"></ion-icon><p slot="end">{{user_name}}</p>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content color="darkblack">
  <div style="text-align: center;background-color: black">
      <img src="assets/icon/logo.png" style="margin-top: 2px;max-width: 80%">
  </div>
    
  
    
    <div class="card_design1" style="float: left"  (click)="aveswGreen()">
        <ion-card-content style="text-align: center;font-weight: bold">
            <ion-icon name="pin" size="large"></ion-icon>
              <p></p>
              <p>17 AveSW Green Chili</p>
              <p>(403)277-3000</p>
          </ion-card-content>
      </div>
      <div class="card_design1" style="float: left"  (click)="waldenGreen()">
        <ion-card-content style="text-align: center;font-weight: bold">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p>151 Walden Green Chili</p>
            <p>(403)457-4337</p>
        </ion-card-content>
      </div>
  
    
 
    <div class="card_design1" style="float: left"  (click)="crowchildGreen()">
        <ion-card-content style="text-align: center;font-weight: bold">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p >2128 Crowfoot Green Chili </p>
            <p>(403)245-2002</p>
        </ion-card-content>
      </div>
      <div class="card_design1" style="float: left" (click)="crowfootGreen()">
        <ion-card-content style="text-align: center;font-weight: bold">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p>150 Crowchild Green Chili</p>
            <p>(403)210-3122</p>
        </ion-card-content>
      </div>
  
      <div class="card_design3" style="float: left" (click)="nolanGreen()">
        <ion-card-content style="text-align: center;font-weight: bold">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p>7 Mahogany SE Green Chili </p>
            <p>(403)457-0313</p>
        </ion-card-content>
      </div>  
</ion-content>
