<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title style="font-size: 6vw">
      Our Locations
    </ion-title>
    <div class="profile_div">
      <ion-icon slot="end" name="contact"></ion-icon><p slot="end">{{user_details.data.name}}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  
    
    <div class="card_design1" style="float: left"  (click)="aveswGreen()">
        <ion-card-content style="text-align: center">
            <ion-icon name="pin" size="large"></ion-icon>
              <p></p>
              <p>17 AveSW Green Chili</p>
              <p>(403)277-3000</p>
          </ion-card-content>
      </div>
      <div class="card_design1" style="float: left"  (click)="waldenGreen()">
        <ion-card-content style="text-align: center">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p>151 Walden Green Chili</p>
            <p>(403)277-3000</p>
        </ion-card-content>
      </div>
  
    
 
    <div class="card_design1" style="float: left"  (click)="crowchildGreen()">
        <ion-card-content style="text-align: center">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p >2128 Crowchild Green Chili </p>
            <p>(403)277-3000</p>
        </ion-card-content>
      </div>
      <div class="card_design1" style="float: left" (click)="crowfootGreen()">
        <ion-card-content style="text-align: center">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p>150 Crowfoot Green Chili</p>
            <p>(403)277-3000</p>
        </ion-card-content>
      </div>
  
      <div class="card_design3" style="float: left" (click)="nolanGreen()">
        <ion-card-content style="text-align: center">
            <ion-icon name="pin" size="large"></ion-icon>
            <p></p>
            <p>8 Nolan Green Chili </p>
            <p>(403)277-3000</p>
        </ion-card-content>
      </div>  
</ion-content>
